.recipe-form-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 720px;

        .toolbar-bottom {
            height: 150px;
        }
        .toolbar-bottom-none{
            height: unset;
        }

        .recipe-name{
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .bl-nutritions{
        margin-top: 40px;
    }

    .bl-tags{
        margin-top: 40px;
    }

    .bl-recipeingredients{
        margin-top: 40px;
    }

    .fd-select{
        margin-top: 13px;
    }

    .size-text{
        color: #ababab;
        font-weight: 200;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .photo{
        width: 190px;
        max-height: 100px;
    }
}

:host {
    display: flex;
    flex-direction: column;
}
