<div *ngIf="recipeForm">
    <!-- HEAD OF DIALOG -->
    <md-toolbar md-dialog-title class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button md-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <md-icon>close</md-icon>
            </button>
        </div>

        <md-toolbar-row [hidden]="recipe.photo == ''" fxLayout="column" fxLayoutAlign="center center"
                        [ngClass]="recipe.photo == ''? 'toolbar-bottom-none' : 'toolbar-bottom'">
            <img [hidden]="recipe.photo == undefined" [src]="recipe.photo" class="photo huge"
                 [alt]="recipe.name"/>
            <div class="recipe-name">{{recipe.name}}</div>
        </md-toolbar-row>

    </md-toolbar>
    <!-- / HEAD OF DIALOG -->

    <!-- FORM THE RECIPE -->
    <div md-dialog-content class="p-24 m-0" perfect-scrollbar>

        <form [formGroup]="recipeForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="name" formControlName="name" placeholder="Name" mdInput required>
                </md-input-container>
            </div>

            <!-- PHOTO BLOCK -->
            <label class="btn btn-secondary btn-file">
                <md-icon class="logo-icon mr-16">add_a_photo</md-icon>

                <input name="file" type="file" (change)="onFileChange($event)" accept="image/*" required>
                <input type="hidden" name="fileHidden" formControlName="photo" required/>
                <div class="size-text">(Size an image should be 420 x 280 px)</div>

            </label>

            <p *ngIf="file" class="pl-4 align-middle mb-0">{{file.name}}</p>
            <!-- / PHOTO BLOCK -->

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <md-input-container fxFlex>
            <textarea name="description" formControlName="description" placeholder="Description" mdInput type="text"
                      max-rows="4" required></textarea>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="difficulty" formControlName="difficulty" type="number" mdInput min="0"
                           placeholder="Difficulty"
                           required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="prep_time" formControlName="prep_time" type="number" mdInput min="1"
                           placeholder="Preparation time (min)" required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="cook_time" formControlName="cook_time" type="number" mdInput min="1"
                           placeholder="Cooking time (min)"
                           required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="rating" formControlName="rating" type="number" mdInput placeholder="Rating" min="0"
                           required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="servings" formControlName="servings" type="number" mdInput placeholder="Servings"
                           min="1"
                           required>
                </md-input-container>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <md-input-container fxFlex>
            <textarea name="instructions" formControlName="instructions" placeholder="Instructions" mdInput type="text"
                      max-rows="4" required></textarea>
                </md-input-container>
            </div>


            <!-- TAGS BLOCK -->
            <div fxLayout="row" class="textarea-wrapper bl-tags" fxLayoutAlign="start start">
                <md-select fxFlex multiple placeholder="Tags" *ngIf="tags" formControlName="tags" required>
                    <md-option *ngFor="let tag of tags" [value]="tag.id">
                        {{tag.name}}
                    </md-option>
                </md-select>
            </div>
            <!-- / TAGS BLOCK -->

            <!-- NUTRITIONS BLOCK -->
            <div formGroupName="nutritions" class="bl-nutritions">
                <div fxLayout="row">
                    <div fxFlex="20">
                        <label>Nutritions</label>
                    </div>

                    <div fxFlex>
                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="calories" formControlName="calories" type="number" placeholder="Calories"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="calories_from_fat" formControlName="calories_from_fat" type="number"
                                       placeholder="Calories from fat"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="total_fat" formControlName="total_fat" type="number"
                                       placeholder="Total fat"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="saturated_fat" formControlName="saturated_fat" placeholder="Saturated fat"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="trans_fat" formControlName="trans_fat" type="number"
                                       placeholder="Trans fat"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="cholesterol" formControlName="cholesterol"
                                       placeholder="Cholesterol" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="sodium" formControlName="sodium" type="number" placeholder="Sodium" mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="potassium" formControlName="potassium" placeholder="Potassium"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="total_carbohydrates" formControlName="total_carbohydrates"
                                       placeholder="Total carbohydrates" type="number" mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="dietary_fiber" formControlName="dietary_fiber"
                                       placeholder="Dietary fiber" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="sugar" formControlName="sugar" placeholder="Sugar" type="number" mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="protein" formControlName="protein" placeholder="Protein"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="vitamin_a" formControlName="vitamin_a" type="number"
                                       placeholder="Vitamin A"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="vitamin_c" formControlName="vitamin_c"
                                       placeholder="Vitamin C" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="calcium" formControlName="calcium" type="number" placeholder="Calcium"
                                       mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="iron" formControlName="iron" type="number" placeholder="Iron"
                                       mdInput
                                       min="0" required>
                            </md-input-container>

                        </div>
                    </div>
                </div>

            </div>
            <!-- / NUTRITIONS BLOCK -->

            <!-- INGREDIENTS BLOCK -->

            <div class="bl-recipeingredients">


                <div fxLayout="row">
                    <div fxFlex="20">
                        <label>Ingredients</label>
                    </div>

                    <div fxFlex>
                        <div formArrayName="recipeIngredients"
                             *ngIf="recipeForm.controls['recipeIngredients'].controls">
                            <div *ngFor="let control of recipeForm.controls['recipeIngredients'].controls; let i = index">

                                <div fxLayout="row" *ngIf="ingredients.length > 0">
                                    <ingredient-form fxFlex [ingredients]="ingredients"
                                                     [form]="recipeForm.controls['recipeIngredients'].controls[i]"></ingredient-form>

                                    <button *ngIf="i != 0" type="button" (click)="removeRecipeIngredientForm(i, 'edit', recipeForm.controls['recipeIngredients'].controls[i].value.id)"
                                            fxFlex="10"
                                            fxLayoutAlign="end">
                                        <md-icon class="logo-icon mr-16">delete</md-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div formArrayName="newRecipeIngredients"
                             *ngIf="recipeForm.controls['newRecipeIngredients'].controls">
                            <div *ngFor="let control of recipeForm.controls['newRecipeIngredients'].controls; let i = index">

                                <div fxLayout="row" *ngIf="ingredients.length > 0">
                                    <ingredient-form fxFlex [ingredients]="ingredients"
                                                     [form]="recipeForm.controls['newRecipeIngredients'].controls[i]"></ingredient-form>

                                    <button *ngIf="i != 0" type="button" (click)="removeRecipeIngredientForm(i, 'add')"
                                            fxFlex="10"
                                            fxLayoutAlign="end">
                                        <md-icon class="logo-icon mr-16">delete</md-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div md-dialog-actions fxLayoutAlign="end">
                    <button type="button" (click)="addRecipeIngredientForm()">
                        <!--<md-icon class="logo-icon mr-16">add</md-icon>-->
                        Add Ingredient
                    </button>

                </div>
            </div>

        </form>

    </div>
    <!-- / FORM THE RECIPE -->

    <!-- BUTTON MANAGE -->
    <div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                md-raised-button
                (click)="createRecipe()"
                class="save-button mat-accent"
                [disabled]="recipeForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                md-raised-button
                (click)="updateRecipe()"
                class="save-button mat-accent"
                [disabled]="recipeForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                md-button
                class="mat-icon-button"
                (click)="removeRecipe()"
                aria-label="Delete"
                md-tooltip="Delete">
            <md-icon>delete</md-icon>
        </button>

    </div>
    <!-- / BUTTON MANAGE -->
</div>