<!-- TABLE OF THE PRODUCTS -->
<ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        (page)='setPage($event)'
        [limit]='size'
        [rows]='products'>
    <ngx-datatable-column name="Name" prop="name" [width]="250">
    </ngx-datatable-column>

    <ngx-datatable-column name="Store" prop="store">
    </ngx-datatable-column>

    <ngx-datatable-column name="Unit" prop="unit_name">
    </ngx-datatable-column>

    <ngx-datatable-column name="Price" prop="price" [width]="100">
    </ngx-datatable-column>

    <ngx-datatable-column name="Organic" prop="is_organic" [width]="50">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <md-icon *ngIf="value == true">check</md-icon>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
<!-- / TABLE -->


<!-- ADD PRODUCT BUTTON -->
<button md-fab class="md-accent-bg" id="add-product-button" (click)="newProduct()" aria-label="add product">
    <md-icon>add</md-icon>
</button>
<!-- / ADD PRODUCT BUTTON -->
