<!-- TABLE OF THE RECIPES -->
<ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [selectionType]="'checkbox'"
        [selected]="selectedRecipes"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        (page)='setPage($event)'
        [limit]='size'
        [rows]='recipes'>

    <ngx-datatable-column [width]="48"
                          [canAutoResize]="false"
                          [sortable]="false">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                     let-selectFn="selectFn">
            <md-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected);onSelectedAllChange()"></md-checkbox>
        </ng-template>

        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                     let-onCheckboxChangeFn="onCheckboxChangeFn" >
            <md-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event); onSelectedChange(row)"></md-checkbox>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" prop="name" [width]="250">
    </ngx-datatable-column>

    <ngx-datatable-column name="Meal Course" prop="tag_name">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span *ngIf="row['tag_type'] == 'meal'">{{row['tag_name']}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Cook Time" prop="total_time">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row['total_time']}} min</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Count Ingredients" prop="ingredient_count">
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" prop="">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <!--<md-icon *ngIf="!row['is_hidden']">visibility_off</md-icon>-->
            <!--<md-icon *ngIf="row['is_hidden']">visibility</md-icon>-->

            <button md-icon-button aria-label="Delete"
                    (click)="removeRecipe(row);">
                <md-icon>delete</md-icon>
            </button>
            <button md-icon-button aria-label="Edit"
                    (click)="editRecipe(row);">
                <md-icon>edit</md-icon>
            </button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
<!-- / TABLE -->


<!-- ADD RECIPE BUTTON -->
<button md-fab class="md-accent-bg" id="add-recipe-button" (click)="newRecipe()" aria-label="add recipe">
    <md-icon>add</md-icon>
</button>
<!-- / ADD RECIPE BUTTON -->
