<div id="ingredients" class="page-layout simple left-sidenav inner-sidenav" perfect-scrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="logo-icon mr-16">folder</md-icon>
                <span class="logo-text h1">Ingredients</span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <md-icon>search</md-icon>
            </label>
            <md-input-container md-no-float class="m-0" floatPlaceholder="never">
                <input mdInput [formControl]="searchInput" id="search" placeholder="Search for ingredients">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <md-sidenav-container>

        <!-- CENTER -->
        <div class="center p-24 pr-sm-92" perfect-scrollbar>

            <!-- CONTENT -->
            <div>
                <!-- DATATABLE -->
                <ingredient-list></ingredient-list>
                <!-- / DATATABLE -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </md-sidenav-container>

</div>
