<div *ngIf="productForm">
    <!-- HEAD OF DIALOG -->
    <md-toolbar md-dialog-title class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button md-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <md-icon>close</md-icon>
            </button>
        </div>
    </md-toolbar>
    <!-- / HEAD OF DIALOG -->

    <!-- FORM THE PRODUCT -->
    <div md-dialog-content class="p-24 m-0" perfect-scrollbar>

        <form [formGroup]="productForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="name" formControlName="name" placeholder="Name" mdInput required>
                </md-input-container>
            </div>

            <!-- INGREDIENTS BLOCK -->
            <div fxLayout="row" *ngIf="ingredients.length > 0">

                <md-input-container fxFlex>
                    <input type="text" fxFlex [mdAutocomplete]="auto" placeholder="Ingredient" mdInput
                           (change)="clearValueIngredientProduct()"
                           [formControl]="searchIngredient" required>
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let ingredient of filteredIngredients | async"
                               (onSelectionChange)="onSelectIngredient($event, ingredient.id)"
                               [value]="ingredient.name_singular">
                        {{ ingredient.name_singular }}
                    </md-option>
                </md-autocomplete>

            </div>
            <!-- / INGREDIENTS BLOCK -->


            <!-- UNITS BLOCK -->
            <div class="mb-24 bl-categories" fxLayout="row" fxLayoutAlign="start start" *ngIf="units['us'].length > 0">
                <md-select fxFlex placeholder="Unit" required formControlName="unitProduct">
                    <md-option *ngFor="let unit of units['us']" [value]="unit.id">
                        {{unit.full_name}}
                    </md-option>
                </md-select>
            </div>
            <!-- / UNITS BLOCK -->

            <div fxLayout="row">
                <md-input-container fxFlex>
                    <input name="size" formControlName="size" type="number" placeholder="Size"
                           mdInput min="0"
                           required>
                </md-input-container>

                <md-input-container fxFlex>
                    <input name="price" formControlName="price" type="number"
                           placeholder="Price"
                           mdInput min="0" required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="store" formControlName="store" placeholder="Store" mdInput required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-checkbox fxFlex formControlName="is_organic">
                    is organic
                </md-checkbox>
            </div>

        </form>

    </div>
    <!-- / FORM THE PRODUCT -->

    <!-- BUTTON MANAGE -->
    <div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                md-raised-button
                (click)="createProduct()"
                class="save-button mat-accent"
                [disabled]="productForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>
    </div>
    <!-- / BUTTON MANAGE -->
</div>