<md-sidenav-container>

    <div id="fuse-main-content" fxFlexFill>

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="fuseSettings.layout.toolbar === 'above'">
            <fuse-toolbar class="above" [class]="fuseSettings.colorClasses.toolbar"></fuse-toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <div id="wrapper">

            <fuse-navbar [folded]="false"
                         class="left-navbar"
                         *ngIf="fuseSettings.layout.navigation === 'left'"
                         [class]="fuseSettings.colorClasses.navbar">
            </fuse-navbar>

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="fuseSettings.layout.toolbar === 'below'">
                    <fuse-toolbar class="below" [class]="fuseSettings.colorClasses.toolbar"></fuse-toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <fuse-content></fuse-content>

                <!-- FOOTER: Below -->
                <ng-container *ngIf="fuseSettings.layout.footer === 'below'">
                    <fuse-footer class="below" [class]="fuseSettings.colorClasses.footer"></fuse-footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <fuse-navbar [folded]="false" class="md-primary-700-bg right-navbar" *ngIf="fuseSettings.layout.navigation === 'right'"></fuse-navbar>

        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="fuseSettings.layout.footer === 'above'">
            <fuse-footer class="above" [class]="fuseSettings.colorClasses.footer"></fuse-footer>
        </ng-container>
        <!-- FOOTER: Above -->

    </div>

    <!-- QUICK PANEL -->
    <md-sidenav fuseMdSidenavHelper="quick-panel" align="end">
        <fuse-quick-panel></fuse-quick-panel>
    </md-sidenav>
    <!-- / QUICK PANEL -->

</md-sidenav-container>
