<md-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex fxLayout="row" fxLayoutAlign="start center">

            <button md-button class="toggle-button-navbar mat-icon-button" fuseNavbar="openBar" fxHide.gt-md>
                <md-icon>menu</md-icon>
            </button>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <md-spinner *ngIf="showSpinner" class="loading-spinner mx-8"></md-spinner>

            <button md-button [mdMenuTriggerFor]="userMenu" *ngIf="user"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar" [src]="user.avatar">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{user.firstName}} {{user.lastName}}</span>
                    <md-icon class="s-16" fxHide.xs>keyboard_arrow_down</md-icon>
                </div>
            </button>

            <md-menu #userMenu="mdMenu">

                <button md-menu-item>
                    <md-icon>account_circle</md-icon>
                    <span>My Profile</span>
                </button>

                <button md-menu-item (click)="logout()">
                    <md-icon>exit_to_app</md-icon>
                    <span>Logout</span>
                </button>

            </md-menu>

        </div>
    </div>
</md-toolbar>
