<div *ngIf="ingredientForm">
    <!-- HEAD OF DIALOG -->
    <md-toolbar md-dialog-title class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button md-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <md-icon>close</md-icon>
            </button>
        </div>

        <md-toolbar-row [hidden]="ingredient.photo == ''" fxLayout="column" fxLayoutAlign="center center"
                        [ngClass]="ingredient.photo == ''? 'toolbar-bottom-none' : 'toolbar-bottom'">
            <img [hidden]="ingredient.photo == ''" [src]="ingredient.photo" class="photo huge"
                 [alt]="ingredient.name"/>
            <div class="ingredient-name">{{ingredient.name}}</div>
        </md-toolbar-row>

    </md-toolbar>
    <!-- / HEAD OF DIALOG -->

    <!-- FORM THE INGREDIENT -->
    <div md-dialog-content class="p-24 m-0" perfect-scrollbar>

        <form [formGroup]="ingredientForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="name_singular" formControlName="name_singular" placeholder="Name Singular" mdInput required>
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex>
                    <input name="name_plural" formControlName="name_plural" placeholder="Name Plural" mdInput required>
                </md-input-container>
            </div>

            <!-- PHOTO BLOCK -->
            <label class="btn btn-secondary btn-file">
                <md-icon class="logo-icon mr-16">add_a_photo</md-icon>

                <input name="file" type="file" (change)="onFileChange($event)" accept="image/*" required>
                <input type="hidden" name="fileHidden" formControlName="photo" required/>
                <div class="size-text">(Size an image should be 250 x 250 px)</div>

            </label>

            <p *ngIf="file" class="pl-4 align-middle mb-0">{{file.name}}</p>
            <!-- / PHOTO BLOCK -->


            <!-- UNITS BLOCK -->
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="units['us'].length > 0">
                <md-select fxFlex placeholder="Unit" required formControlName="unitIngredient">
                    <md-option *ngFor="let unit of units['us']" [value]="unit.id">
                        {{unit.full_name}}
                    </md-option>
                </md-select>
            </div>
            <!-- / UNITS BLOCK -->

            <!-- CATEGORIES BLOCK -->
            <div class="mb-24 bl-categories" fxLayout="row" fxLayoutAlign="start start" *ngIf="categories.length > 0">
                <md-select fxFlex placeholder="Category" required formControlName="categoryIngredient">
                    <md-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </md-option>
                </md-select>
            </div>
            <!-- / CATEGORIES BLOCK -->

            <!-- NUTRITIONS BLOCK -->
                <div fxLayout="row">
                    <div fxFlex="20">
                        <label>Nutritions</label>
                    </div>

                    <div fxFlex>
                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="calories" formControlName="calories" type="number" placeholder="Calories"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="total_carbohydrates" formControlName="total_carbohydrates" type="number"
                                       placeholder="Total carbohydrates"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="sugar" formControlName="sugar" type="number"
                                       placeholder="Sugar"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="fat_calories" formControlName="fat_calories" placeholder="Fat calories"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="total_fat" formControlName="total_fat" type="number"
                                       placeholder="Total fat"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="saturated_fat" formControlName="saturated_fat"
                                       placeholder="Saturated Fat" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="trans_fat" formControlName="trans_fat" type="number" placeholder="Trans fat" mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="sodium" formControlName="sodium" placeholder="Sodium"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="total_carbs" formControlName="total_carbs"
                                       placeholder="Total carbs" type="number" mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="dietary_fiber" formControlName="dietary_fiber"
                                       placeholder="Dietary fiber" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="total_sugar" formControlName="total_sugar" placeholder="Total sugar" type="number" mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="added_sugar" formControlName="added_sugar" placeholder="Added sugar"
                                       mdInput type="number"
                                       min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="protein" formControlName="protein"
                                       placeholder="Protein" type="number" mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="potassium" formControlName="potassium"
                                       placeholder="Potassium" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="vitamin_a" formControlName="vitamin_a" type="number"
                                       placeholder="Vitamin A"
                                       mdInput min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="vitamin_c" formControlName="vitamin_c"
                                       placeholder="Vitamin C" type="number"
                                       mdInput min="0" required>
                            </md-input-container>

                        </div>

                        <div fxLayout="row">

                            <md-input-container fxFlex>
                                <input name="calcium" formControlName="calcium" type="number" placeholder="Calcium"
                                       mdInput
                                       min="0"
                                       required>
                            </md-input-container>

                            <md-input-container fxFlex>
                                <input name="iron" formControlName="iron" type="number" placeholder="Iron"
                                       mdInput
                                       min="0" required>
                            </md-input-container>

                        </div>
                    </div>
                </div>
            <!-- / NUTRITIONS BLOCK -->

        </form>

    </div>
    <!-- / FORM THE INGREDIENT -->

    <!-- BUTTON MANAGE -->
    <div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                md-raised-button
                (click)="createIngredient()"
                class="save-button mat-accent"
                [disabled]="ingredientForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>
    </div>
    <!-- / BUTTON MANAGE -->
</div>