@import "src/app/core/scss/fuse";

:host {
    flex: 1;
}

#add-ingredient-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;

    @include media-breakpoint-down('xs') {
        top: 12px;
    }
}
