<!-- TABLE OF THE INGREDIENTS -->
<ngx-datatable
        #table
        class='material'
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        (page)='setPage($event)'
        [limit]='size'
        [rows]='ingredients'>
    <ngx-datatable-column name="Name Singular" prop="name_singular" [width]="250">
    </ngx-datatable-column>

    <ngx-datatable-column name="Category" prop="category_name">
    </ngx-datatable-column>

    <ngx-datatable-column name="Unit" prop="unit_name">
    </ngx-datatable-column>

</ngx-datatable>
<!-- / TABLE -->


<!-- ADD INGREDIENT BUTTON -->
<button md-fab class="md-accent-bg" id="add-ingredient-button" (click)="newIngredient()" aria-label="add ingredient">
    <md-icon>add</md-icon>
</button>
<!-- / ADD INGREDIENT BUTTON -->
