<div [formGroup]="form">

    <div fxLayout="row" *ngIf="ingredients.length > 0">

        <md-input-container fxFlex>
            <input type="text" fxFlex [mdAutocomplete]="auto" placeholder="Ingredient" mdInput
                   (change)="clearValueIngredientId()"
                   [formControl]="searchIngredient" required>
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let ingredient of filteredIngredients | async"
                       (onSelectionChange)="onSelectIngredient($event, ingredient.id)"
                       [value]="ingredient.name_singular">
                {{ ingredient.name_singular }}
            </md-option>
        </md-autocomplete>

    </div>

    <div fxLayout="row">

        <div fxFlex class="fd-select" *ngIf="units['us'].length > 0">
            <md-select fxFlex placeholder="Unit (us)" required formControlName="unit_us">
                <md-option *ngFor="let unit of units['us']" [value]="unit.id">
                    {{unit.full_name}}
                </md-option>
            </md-select>
        </div>

        <md-input-container fxFlex>
            <input name="quantity_us" placeholder="Amount (us)"
                   mdInput type="number" formControlName="quantity_us"
                   min="0" required>
        </md-input-container>

    </div>

    <div fxLayout="row">

        <div fxFlex class="fd-select" *ngIf="units['eu'].length > 0">
            <md-select fxFlex placeholder="Unit (eu)" formControlName="unit_eu" required>
                <md-option *ngFor="let unit of units['eu']" [value]="unit.id">
                    {{unit.full_name}}
                </md-option>
            </md-select>
        </div>

        <md-input-container fxFlex>
            <input name="quantity_eu" placeholder="Amount (eu)"
                   mdInput type="number" formControlName="quantity_eu"
                   min="0" required>
        </md-input-container>

    </div>

    <div fxLayout="row">

        <div fxFlex>
            <md-input-container fxFlex>
                    <textarea name="notes" placeholder="Notes" mdInput type="text"
                              max-rows="4"></textarea>
            </md-input-container>
        </div>

    </div>
</div>


