<div id="login" fxLayout="column" perfect-scrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form">
            <!-- HEADER -->
            <div class="logo"></div>

            <div class="title">LOGIN TO YOUR ADMIN ACCOUNT</div>
            <!-- / HEADER -->

            <!-- LOGIN FORM -->
            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <md-input-container>
                    <input mdInput placeholder="Email" formControlName="email">
                    <md-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </md-error>
                    <md-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Password" type="password" formControlName="password">
                    <md-error *ngIf="loginFormErrors.password.required">
                        Password is required
                    </md-error>
                </md-input-container>

                <button md-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        (click)="login()"
                        [disabled]="loginForm.invalid">
                    LOGIN
                </button>
            </form>
            <!-- / LOGIN FORM -->
        </div>
    </div>
</div>